---
interface Props {
	title: string;
	pageNote?: string;
	priceNumber: string;
	priceUnit: string;
	tagline: string;
	description: string;
	tags: string[];
}

const { title, pageNote, priceNumber, priceUnit, tagline, description, tags } = Astro.props;
---

<article class="flex w-full flex-col overflow-hidden rounded-16px bg-white shadow-card">
	<div class="bg-primary px-10px py-8px md:pb-20px md:pt-21px text-center">
		<span class="text-xl font-bold text-white">{title}</span>
	</div>
	<div class="flex flex-col gap-10px px-22px py-24px">
		<div class="flex flex-col items-center gap-16px md:gap-20px border-b border-grey-91 px-20px pb-24px">
			<div class="flex w-191px flex-col items-center gap-8px">
				{pageNote && (
					<p class="text-center text-xs text-text-muted">{pageNote}</p>
				)}
				{!pageNote && (
					<p class="text-center text-xs text-text-muted">&nbsp;</p>
				)}
				<p class="flex items-end font-bold">
					<span class="font-sans text-5xl leading-none text-primary">{priceNumber}</span>
					<span class="text-18px leading-30px text-text">{priceUnit}</span>
				</p>
			</div>
			<p class="text-center text-sm font-medium leading-relaxed text-text" set:html={tagline} />
		</div>
		<div class="flex flex-col gap-12px">
			<p class="text-sm leading-relaxed-plus text-text-muted">{description}</p>
			<div class="flex flex-wrap content-end gap-8px">
				{tags.map((tag) => (
					<span class="rounded-6px bg-tag-service px-12px py-10px text-13px text-text">
						{tag}
					</span>
				))}
			</div>
		</div>
	</div>
</article>
